.container {
	max-width: 1300px;
	margin: 0 auto;
}
.container-full {
	width: 100%;
}
.pd-2 {
	padding: 0.2rem;
}
.pd-4 {
	padding: 0.4rem;
}
.pd-6 {
	padding: 0.6rem;
}
.pd-8 {
	padding: 0.8rem;
}
.pd-10 {
	padding: 1rem;
}
.pd-12 {
	padding: 1.2rem;
}
.pd-14 {
	padding: 1.4rem;
}
.pd-16 {
	padding: 1.6rem;
}
.pd-18 {
	padding: 1.8rem;
}
.pd-20 {
	padding: 2rem;
}
.pd-v-2 {
	padding: 0.2rem 0;
}
.pd-v-4 {
	padding: 0.4rem 0;
}
.pd-v-6 {
	padding: 0.6rem 0;
}
.pd-v-8 {
	padding: 0.8rem 0;
}
.pd-v-10 {
	padding: 1rem 0;
}
.pd-v-12 {
	padding: 1.2rem 0;
}
.pd-v-14 {
	padding: 1.4rem 0;
}
.pd-v-16 {
	padding: 1.6rem 0;
}
.pd-v-18 {
	padding: 1.8rem 0;
}
.pd-v-20 {
	padding: 2rem 0;
}
.pd-h-2 {
	padding: 0 0.2rem;
}
.pd-h-4 {
	padding: 0 0.4rem;
}
.pd-h-6 {
	padding: 0 0.6rem;
}
.pd-h-8 {
	padding: 0 0.8rem;
}
.pd-h-10 {
	padding: 0 1rem;
}
.pd-h-12 {
	padding: 0 1.2rem;
}
.pd-h-14 {
	padding: 0 1.4rem;
}
.pd-h-16 {
	padding: 0 1.6rem;
}
.pd-h-18 {
	padding: 0 1.8rem;
}
.pd-h-20 {
	padding: 0 2rem;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.float-clear {
	clear: both;
}
.white-color {
	color: #fff;
}
.font-12 {
	font-size: 1.2rem;
}
.font-14 {
	font-size: 1.4rem;
}
.font-16 {
	font-size: 1.6rem;
}
.font-18 {
	font-size: 1.8rem;
}
.font-20 {
	font-size: 2rem;
}
.font-22 {
	font-size: 2.2rem;
}
.font-24 {
	font-size: 2.4rem;
}
.font-26 {
	font-size: 2.6rem;
}
.font-28 {
	font-size: 2.8rem;
}
.font-30 {
	font-size: 3rem;
}
.font-bold-200 {
	font-weight: 200;
}
.font-bold-400 {
	font-weight: 400;
}
.font-bold-600 {
	font-weight: 600;
}
.font-bold-800 {
	font-weight: 800;
}
