$backgroundColorHeader: linear-gradient(#ee4d2d, #ff7337);
$backgroundColorLightMode: #f5f5f5;
$backgroundColorDarkMode: #f5f5f521;
$textColorLightMode: #555555;
$textColorDarkMode: #ffffffc0;
$textColorLightModeOpacity: #757575;
$textColorDarkModeOpacity: #ffffff98;
$orangeColor: #ee4d2d;
$yellowColor: #eda500;
$whiteColor: #fff;
